 {{!-- pull in api picture to location --}}
 <div class="location container">
  <div class="title mb-3">
    <a href="{{location}}" target="_blank">{{title}}</a>
    <span>({{location}})</span>
  </div>
  <div class="meta">
    {{rating}} {{format_plural "stars"}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/location/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</div>