<article>
  <a href="/travels"> &larr; Back to travels</a>
  <h2>
    Edit Location
  </h2>
  <form class="edit-location-form">
    <div>
      <input name="location-title" type="text" value="{{location.title}}" />
    </div>
    <div>
      {{location.rating}} {{format_plural "stars" post.rating}} by you on {{format_date location.created_at}}
      |
      <a href="/location/{{location.id}}">{{locations.comments.length}} {{format_plural "comment" location.comments.length}}</a>
    </div>
    <button type="submit">Update Location</button>
    <button type="button" class="delete-location-btn">Delete Location</button>
  </form>
</article>
 {{!-- adding new comments and listing current comments underneath --}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{!-- render comment posts from comments handlebar --}}
{{> comments location.comments}}